In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
crash_df = pd.read_csv('CrashTest_TrainData.csv')
crash_df.head()

   CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0      1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1      2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2      3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3      4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
4      5   0.00   2.68 -4.15   0.85    5.58        SUV

In [3]:
crash_df_test = pd.read_csv('CrashTest_TestData.csv')
crash_df.head()

   CarID  ManHI  ManBI  IntI  HVACi  Safety    CarType
0      1  -5.27  -1.30  2.86  -4.85    4.04        SUV
1      2  -4.82  -5.38  9.72  -0.97   -4.57  Hatchback
2      3   9.57  -7.50 -7.61   1.33   -5.10  Hatchback
3      4   2.84  -2.85  0.92   5.51   -6.64  Hatchback
4      5   0.00   2.68 -4.15   0.85    5.58        SUV

In [4]:
# for the train data
crash_df.describe()

         CarID      ManHI      ManBI       IntI      HVACi    Safety
count  80.0000  80.000000  80.000000  77.000000  80.000000  80.00000
mean   40.5000  -0.093500  -0.927750  -0.346623   0.119750   0.54375
std    23.2379   5.802878   5.600224   5.806723   5.813306   5.79723
min     1.0000  -9.930000  -9.940000  -9.990000  -9.820000  -9.80000
25%    20.7500  -5.195000  -5.705000  -5.940000  -5.675000  -4.67750
50%    40.5000   0.635000  -1.815000  -0.500000   0.870000   0.83000
75%    60.2500   5.050000   3.417500   4.820000   5.062500   4.62250
max    80.0000   9.570000   9.610000   9.720000   9.890000   9.99000

In [5]:
crash_df_test.describe()

           CarID      ManHI     ManBI       IntI      HVACi     Safety
count   20.00000  20.000000  20.00000  20.000000  20.000000  20.000000
mean    90.50000   0.047000   0.32800   0.524000   0.723500   0.191000
std      5.91608   6.253216   4.05164   4.953771   5.479129   6.154548
min     81.00000  -9.940000  -8.74000  -8.950000  -9.230000  -8.660000
25%     85.75000  -5.535000  -2.50250  -3.272500  -2.455000  -6.095000
50%     90.50000   0.740000   0.67000   1.200000   0.675000  -0.770000
75%     95.25000   5.110000   2.50000   3.907500   5.337500   4.992500
max    100.00000   9.090000   8.42000   8.870000   8.330000   9.620000

In [6]:
third_quartile_diff = 3.417500 - 2.50000
third_quartile_diff

0.9175

In [7]:
crash_df['CarType'].value_counts()
pd.crosstab(crash_df['CarType'],columns = 'count',normalize=True)
crash_df['CarType'].unique()

array(['SUV', 'Hatchback'], dtype=object)

In [8]:
crash_df.isna().sum()

CarID      0
ManHI      0
ManBI      0
IntI       3
HVACi      0
Safety     0
CarType    0
dtype: int64

## FOR Q.17  TO Q. 20

In [9]:
# proportions of car types in train data
pd.crosstab(crash_df_test['CarType'],columns = 'count',normalize=True)
# crash_df_test['CarType'].value_counts()

col_0      count
CarType
Hatchback     10
SUV           10

In [10]:
# dropping the missing values
print(crash_df.shape)
crash_df_train_copy = crash_df.dropna(axis=0) # we'll drop the rows

crash_df_test = crash_df_test.dropna(axis=0)


# dropping the carId feature
crash_df_train_copy = crash_df_train_copy.drop(columns=['CarID'])
crash_df_test = crash_df_test.drop(columns=['CarID'])
print(crash_df_train_copy.shape)
print(crash_df_test.shape)  # these are the dimensions of the data set we have extracted.

(80, 7)
(77, 6)
(20, 6)

In [11]:
crash_df_train_copy.describe()

           ManHI      ManBI       IntI      HVACi     Safety
count  77.000000  77.000000  77.000000  77.000000  77.000000
mean   -0.203117  -0.914416  -0.346623   0.105714   0.573896
std     5.856577   5.657092   5.806723   5.824315   5.719930
min    -9.930000  -9.940000  -9.990000  -9.820000  -9.800000
25%    -5.270000  -5.690000  -5.940000  -5.590000  -4.570000
50%     0.630000  -1.870000  -0.500000   0.850000   0.870000
75%     5.020000   3.360000   4.820000   5.030000   4.550000
max     9.570000   9.610000   9.720000   9.890000   9.990000

In [12]:
# now to replace categorical variables with integer values:
crash_df_train_copy = crash_df_train_copy.replace({'Hatchback':1,'SUV':0})
crash_df_train_copy.head()
# replacing 1 for Hatchback and 0 for SUV

# You have to perform the same action for both the data sets (test as well as training)
crash_df_test = crash_df_test.replace({'Hatchback':1,'SUV':0}) # same for test data set
crash_df_test.head()

   ManHI  ManBI  IntI  HVACi  Safety  CarType
0   1.94   2.21  3.38   1.78   -7.19        1
1  -0.02  -3.33  0.79  -6.63    7.99        0
2  -0.49  -4.48  5.00   8.33   -2.77        1
3   5.76   1.35  7.92  -0.43    4.29        1
4   2.51  -8.74  4.53  -1.91    3.95        1

In [13]:
new_data = pd.get_dummies(crash_df_train_copy,drop_first=True)
columns = list(new_data.columns)
features = list(set(columns)-set(['CarType']))
print(features)  # features -> for train data set (same as test data set)

['Safety', 'ManHI', 'IntI', 'HVACi', 'ManBI']

In [14]:
# creating x and y to train the model from train data set
x=crash_df_train_copy[features].values
y=crash_df_train_copy['CarType']
print(x.shape,y.shape)

(77, 5) (77,)

In [15]:
data_test = pd.get_dummies(crash_df_test,drop_first=True)  # for test data set.
col1 = list(data_test.columns)
features_test = list(set(col1)-set(['CarType']))
print(features_test)  # taking only features that are affecting the type of the car(same as train data set)

['Safety', 'ManHI', 'IntI', 'HVACi', 'ManBI']

In [16]:
# creating x_test and y_test for prediction purpose from test_data set
x_test = crash_df_test[features]
y_test = crash_df_test['CarType']
print(x_test.shape,y_test.shape)

(20, 5) (20,)

In [17]:
from sklearn.neighbors import KNeighborsClassifier # importing the module
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(x,y)
pred = knn.predict(x_test)  # creating object of the predict attribute

In [18]:
# finding the accuracy
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,pred)
print(f'Accuracy={acc}')  # so we got accuracy = 70%

Accuracy=0.7

In [22]:
print(f'Misclassified Samples from Model 1 is \n{(y_test!=pred).sum()}')  # so there are 6 misclassified
# samples

Misclassified Samples from Model 1 is
6

## NOW WE HAVE TO CREATE A KNeighborsClassifier Model with
## n_nieghbors=2

In [20]:
# now we have to build the model 2 with 2 n_neighbors
knn_model_2 = KNeighborsClassifier(n_neighbors=2)
knn_model_2.fit(x,y)
pred_2 = knn_model_2.predict(x_test) # prediction object for model 2

# now have to find the accuracy score to compare them
acc_model_2 = accuracy_score(y_test,pred_2)
print(f'accuracy of model_2 = {acc_model_2}\naccuracy of model_1 ={acc}')  # accuracy of model 2 is 85%

accuracy of model_2 = 0.85
accuracy of model_1 =0.7

## So the accuracy is higher n_neighbors = 2

### Now we have to Create a LogisticRegression Model

In [21]:
from sklearn.linear_model import LogisticRegression
reg_log = LogisticRegression()
reg_log.fit(x,y)

# predicting using Logistic Regression
pred_model_3 = reg_log.predict(x_test)

# Now we have to find the accuracy score for Logistic Regression
acc_log_reg = accuracy_score(y_test,pred_model_3)
print(f'Accuracy score of model 3 is {acc_log_reg}') # so here the accuracy is 1.0

Accuracy score of model 3 is 1.0