In [3]:
import sys
import os
import pandas as pd
import numpy as np

In [4]:
cars_data=pd.read_csv('Toyota.csv')

FileNotFoundError: [Errno 2] File b'Toyota.csv' does not exist: b'Toyota.csv'

In [ ]:
carsdata=cars_data.copy()

In [ ]:
cars_data1=cars_data.copy(deep=True)

In [ ]:
cars_data1.index
cars_data1.columns
cars_data1.shape
cars_data1.size
cars_data1.head(5)
cars_data1.tail(5)
cars_data1.iat[5,6]

In [5]:
cars_data1.loc[:0,2]

NameError: name 'cars_data1' is not defined

In [7]:
#16
print(np.unique(cars_data1['KM']))

['1' '10000' '100123' ... '99865' '99971' '??']

In [8]:
print(np.unique(cars_data1['HP']))

['107' '110' '116' '192' '69' '71' '72' '73' '86' '90' '97' '98' '????']

In [9]:
print(np.unique(cars_data1['Doors']))

['2' '3' '4' '5' 'five' 'four' 'three']

# pandas III

In [10]:
cars_data=pd.read_csv('Toyota.csv',index_col=0,na_values=["??","????"])

In [11]:
cars_data1=cars_data.copy(deep=True)

In [12]:
cars_data1['Automatic']=cars_data1['Automatic'].astype('object')

In [13]:
cars_data1['MetColor']=cars_data1['MetColor'].astype('object')

In [14]:
cars_data1['FuelType'].nbytes

11488

In [15]:
cars_data1['FuelType'].astype('category').nbytes

1460

In [16]:
cars_data1.dtypes

Price          int64
Age          float64
KM           float64
FuelType      object
HP           float64
MetColor      object
Automatic     object
CC             int64
Doors         object
Weight         int64
dtype: object

In [17]:
cars_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1336 non-null float64
KM           1421 non-null float64
FuelType     1336 non-null object
HP           1430 non-null float64
MetColor     1286 non-null object
Automatic    1436 non-null object
CC           1436 non-null int64
Doors        1436 non-null object
Weight       1436 non-null int64
dtypes: float64(3), int64(3), object(4)
memory usage: 123.4+ KB

In [18]:
print(np.unique(cars_data1['Doors']))

['2' '3' '4' '5' 'five' 'four' 'three']

In [19]:
cars_data1['Doors'].replace('three',3,inplace=True)
cars_data1['Doors'].replace('four',4,inplace=True)
cars_data1['Doors'].replace('five',5,inplace=True)

In [20]:
cars_data1['Doors']=cars_data1['Doors'].astype('int64')

In [21]:
cars_data1.isnull().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

# control structures#if else for while

In [22]:
cars_data1.insert(10,"Price_Class","")

In [23]:
for i in range(0,len(cars_data1['Price']),1):
    if(cars_data1['Price'][i]<=8450):
        cars_data1['Price_Class'][i]="low"
    elif ((cars_data1['Price'][i]>11950)):
        cars_data1['Price_Class'][i]="high"
    else:cars_data1['Price_Class'][i]="medium"

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
i=0
while i<len(cars_data1['Price']):
    if(cars_data1['Price'][i]<=8450):
        cars_data1['Price_Class'][i]="low"
    elif((cars_data1['Price'][i]>11950)):
        cars_data1['Price_Class'][i]="high"
    else:cars_data1['Price_Class'][i]="medium"
    i=i+1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [26]:
cars_data1['Price_Class'].value_counts()

medium    751
low       369
high      316
Name: Price_Class, dtype: int64

In [27]:
cars_data1.insert(11,"age_converted",0)

In [28]:
def c_convert(val):
    val_con=val/12
    return val_con

In [29]:
cars_data1["age_converted"]=c_convert(cars_data1['Age'])
cars_data1["age_converted"]=round(cars_data1["age_converted"],1)

In [30]:
cars_data1.head()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight,Price_Class,age_converted
0,13500,23.0,46986.0,Diesel,90.0,1,0,2000,3,1165,high,1.9
1,13750,23.0,72937.0,Diesel,90.0,1,0,2000,3,1165,high,1.9
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165,high,2.0
3,14950,26.0,48000.0,Diesel,90.0,0,0,2000,3,1165,high,2.2
4,13750,30.0,38500.0,Diesel,90.0,0,0,2000,3,1170,high,2.5

In [31]:
cars_data1.insert(12,"kmpermonth",0)

In [32]:
def c_convert(val1,val2):
    val_converted=val1/12
    ratio        =val2/val1
    return [val_converted,ratio]

In [33]:
cars_data1["age_converted"],cars_data1["kmpermonth"]= \
c_convert(cars_data1['Age'],cars_data1['KM'])

In [34]:
cars_data1.head()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight,Price_Class,age_converted,kmpermonth
0,13500,23.0,46986.0,Diesel,90.0,1,0,2000,3,1165,high,1.916667,2042.869565
1,13750,23.0,72937.0,Diesel,90.0,1,0,2000,3,1165,high,1.916667,3171.173913
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165,high,2.000000,1737.958333
3,14950,26.0,48000.0,Diesel,90.0,0,0,2000,3,1165,high,2.166667,1846.153846
4,13750,30.0,38500.0,Diesel,90.0,0,0,2000,3,1170,high,2.500000,1283.333333

# lec9 dealing with missing values